

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container header {
    width: 50%;
    margin: 84px 0 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.container header img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 7px;
}

.container header div {
    display: flex;
    align-items: center;
    justify-items: left;
}

.container header div.user-area {
    display: grid;
    gap: 10px;
    justify-content: right;
}

.container header div.user-area li {
    list-style-type: none;
}

.user-pic {
    display: flex;
    justify-content: center;
}

.container input {
    width: 50%;
    padding: 24px;
    background: #E6E6E6;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.container button {
    width: 50%;
    padding: 24px;
    font-weight: 700;
    background: #EA4C49;
    color: white;
    border-radius: 5px;
    margin: 12px 0 84px;
    border: none;
    cursor: pointer;
    transition: filter 0.2s;
    font-size: 16px;
}

.container button:hover {
    filter: brightness(0.9);
}